<a href="https://colab.research.google.com/github/YoheiFukuhara/recommender-system/blob/main/01_preprocess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
BASE_PATH = '/content/drive/MyDrive/ColabNotebooks/ML/Recommend/'

In [ ]:
df = pd.read_csv(BASE_PATH+'input/rating.csv', usecols=[0, 1, 2])

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
df.info()
display(df.describe())
display(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 457.8 MB

           userId     movieId      rating
count 20000263.00 20000263.00 20000263.00
mean     69045.87     9041.57        3.53
std      40038.63    19789.48        1.05
min          1.00        1.00        0.50
25%      34395.00      902.00        3.00
50%      69141.00     2167.00        3.50
75%     103637.00     4770.00        4.00
max     138493.00   131262.00        5.00

          userId  movieId  rating
0              1        2    3.50
1              1       29    3.50
2              1       32    3.50
3              1       47    3.50
4              1       50    3.50
...          ...      ...     ...
20000258  138493    68954    4.50
20000259  138493    69526    4.50
20000260  138493    69644    3.00
20000261  138493    70286    5.00
20000262  138493    71619    2.50

[20000263 rows x 3 columns]

In [ ]:
# userID from 0
df.userId = df.userId - 1

In [ ]:
%%time
movie2idx = {}
for i, movie_id in enumerate(set(df.movieId.values)):
    movie2idx[movie_id] = i

print(len(movie2idx))

26744
CPU times: user 2.78 s, sys: 12.9 ms, total: 2.79 s
Wall time: 2.78 s

In [ ]:
%%time
df['movie_idx'] = df.movieId.map(lambda x: movie2idx[x])

CPU times: user 12.2 s, sys: 1.25 s, total: 13.4 s
Wall time: 13.4 s

In [ ]:
df.to_csv(BASE_PATH+'output/edited_rating.csv', index=False)

In [ ]:
! head /content/drive/MyDrive/ColabNotebooks/ML/Recommend/output/edited_rating.csv

userId,movieId,rating,movie_idx
0,2,3.5,2
0,29,3.5,29
0,32,3.5,32
0,47,3.5,47
0,50,3.5,50
0,112,3.5,112
0,151,4.0,151
0,223,4.0,222
0,253,4.0,252